/* Import the font-family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

/* flexbox for row display*/
.flex-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* styling the navBar*/

/*stick the nav to the top*/
nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.4);
    background: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* styling the nav-right*/
.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icone {
    width: 40px;
    border-radius: 50%;
    margin-right: 0;
}

/* styling the nav-left*/
.nav-left .menu-icon {
    width: 25px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

/* styling the nav-middle*/
.nav-middle .mic-icon {
    width: 1em;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 1em;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img {
    width: 1em;
}

/* ---------------- styling the sidebar -----------------  */
.sidebar {
    background: #fff;
    width: 13%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 75px;
}

.sidebar p {
    font-size: small;
}

.shortcut-links a img {
    width: 1.3em;
    margin-right: 1.3em;
}

.shortcut-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    width: fit-content;
    flex-wrap: wrap;
}

.shortcut-links a:first-child {
    color: #ed3833;
}

.sidebar hr {
    border: 0;
    height: 2px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3 {
    font-size: 0.8em;
    margin: 10px 0;
    color: #5a5a5a;
}

.subscribed-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    width: fit-content;
    flex-wrap: wrap;
}

.subscribed-list a img {
    width: 1.5em;
    border-radius: 50%;
    margin-right: 1em;
}

/* ---------------- toggle the sidebar by a small one-----------------  */
.small-sidebar {
    width: 5%;
}

.small-sidebar p,
.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 60%;
    margin-bottom: 1em;
}

/* ---------------- styling the main content-----------------  */
.container {
    background: #fff;
    padding-left: 14%;
    padding-right: 1%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 0.5em;
}

/* ---------------- styling the container of videos-list-----------------  */
.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 25px;
    margin-top: 0.75em;
}

.video-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.video-list .flex-div {
    align-items: flex-start;
    margin-top: 5px;
}
.video-list .flex-div img{
    width: 2em;
    margin-right: 8px;
    border-radius: 50%;
}
.video-info{
    color:#5a5a5a;
    font-size: small;
}
.video-info a{
    color:#000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}